<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <a href="/">HomePage</a>
    <h2>To Become a member You have to Input the Secret Code &#128521;</h2>
    <form action="/join" method="POST">
      <label for="code">Code: </label>
      <input id="code" name="code" type="code" value="<%= code %>" />
      <button type="submit">Register</button>
    </form>
    <% if (locals.errors) {%> <%- include('partials/errors',{errors}) %> <% } %>
  </body>
</html>
